services:
  - type: web
    name: changex-neurix
    env: python
    region: oregon
    plan: free
    pythonVersion: "3.10.12"
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app --bind 0.0.0.0:$PORT
    envVars:
      - key: FLASK_ENV
        value: production
      - key: SECRET_KEY
        generateValue: true
